body {
  margin: 0;
  padding: 0;
}

.bloc-page {
  width: 100%;
  margin: 0;
}

html {
  font-family: "Roboto";
}
html .menu__titre {
  font-family: "Shrikhand";
}
html .footer__logo {
  font-family: "Shrikhand";
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 0.9em;
  box-shadow: 0 5px 10px 0 #dddddd;
}
.btn--degrade {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}
.btn--degrade:hover {
  background: linear-gradient(#fface8, #ae80e5);
}
.btn:hover {
  box-shadow: 0 5px 10px 5px #dddddd;
}

.carte-menu {
  position: relative;
  width: 100%;
  max-width: 345px;
  margin: 0 0 30px;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 5px 10px 0 #dddddd;
}
@media screen and (min-width: 600px) {
  .carte-menu {
    width: 48%;
  }
}
.carte-menu__img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.carte-menu__nouveau {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 80px;
  height: 25px;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #99E2D0;
  text-align: center;
  line-height: 25px;
  color: #278870;
}
.carte-menu__texte-icone {
  margin: 0 10% 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte-menu__description h3 {
  margin: 15px 0 5px 10px;
  font-size: 1em;
}
.carte-menu__description p {
  margin: 0 0 15px 10px;
  font-size: 0.9em;
}

.coeur {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.coeur__bordure {
  font-size: 1.5em;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1000ms;
}
.coeur__bordure:hover {
  opacity: 0;
}
.coeur__bordure:hover + .coeur__plein {
  transform: scale(1);
}
.coeur__plein {
  font-size: 1.5em;
  z-index: 2;
  transform: scale(0);
  transform-origin: 50% bottom;
  transition: transform 500ms;
}
.coeur__plein--degrade {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 163px 1fr;
  grid-template-rows: 60px;
  grid-template-areas: "fleche logo .";
  align-items: center;
  justify-items: center;
}
.header__logo {
  grid-area: logo;
  width: 163px;
}
.header__bouton-retour {
  grid-area: fleche;
  justify-self: start;
  margin: 0 0 0 30px;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.footer {
  background-color: #353535;
  width: 100%;
  margin: auto;
}
.footer__logo {
  display: inline-block;
  color: white;
  font-size: 1.1em;
  margin: 20px 0 15px 7%;
}

.nav {
  width: 86%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav__lien {
  margin: 0 0 7px;
  padding: 0;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: baseline;
}
.nav__lien i {
  width: 20px;
  margin: 0 7px 0 0px;
  text-align: center;
  font-size: 0.8em;
}
.nav__lien p {
  margin: 0;
  padding: 0;
}

.img-restaurant {
  width: 100%;
  text-align: center;
  box-shadow: inset 0 5px 5px -2px #f6f6f6;
}
.img-restaurant img {
  z-index: 1;
  position: relative;
  object-fit: cover;
  width: 100%;
  max-width: 800px;
  height: 66%;
  min-height: 230px;
  max-height: 400px;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 10px 0 #dddddd;
}

.menu {
  z-index: 2;
  position: relative;
  margin: -40px 0 0 0;
  padding: 0;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: column;
}
.menu__titreicone {
  width: 86%;
  margin: 0 auto;
  padding: 30px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__titre {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
}
.menu__selection {
  width: 86%;
  margin: 0 auto;
}
.menu__selection h2 {
  margin: 0;
  padding: 20px 0;
  width: 80px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: normal;
  position: relative;
}
.menu__selection h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 50%;
  border-bottom: 4px solid #99E2D0;
}
.menu .btn {
  align-self: center;
  margin: 50px 0 75px;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-in-out;
  }
}
.colonne-vignettes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .colonne-vignettes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.vignette {
  position: relative;
  height: 60px;
  width: 100%;
  max-width: 480px;
  margin: 0 0 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 #dddddd;
  overflow: hidden;
  animation: apparition 1000ms backwards;
}
.vignette--1 {
  animation-delay: 200ms;
}
.vignette--2 {
  animation-delay: 400ms;
}
.vignette--3 {
  animation-delay: 600ms;
}
.vignette--4 {
  animation-delay: 800ms;
}
@media screen and (min-width: 800px) {
  .vignette {
    width: 49%;
  }
}
@media screen and (min-width: 1200px) {
  .vignette {
    width: 32%;
  }
}
.vignette__nomdetails {
  margin: 10px 0 10px 10px;
  width: calc(100% - 57px);
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 500ms ease-in-out;
}
.vignette:hover .vignette__nomdetails {
  width: calc(100% - 117px);
}
.vignette__nom {
  margin: 0 0 5px;
  padding: 0;
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vignette__details {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vignette__prix-coche {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.vignette__prix {
  margin: 0 0 10px;
  width: 57px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  align-self: flex-end;
  transform: translate(60px);
  transition: transform 500ms ease-in-out;
}
.vignette:hover .vignette__prix {
  transform: translate(0);
}
.vignette .vignette__coche {
  height: 60px;
  width: 60px;
  font-size: 1.2em;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  transform-origin: right 50%;
  transform: translateX(60px);
  transition: transform 500ms ease-in-out;
}
.vignette .vignette__coche i {
  transform: rotate(0);
  transition: transform 800ms;
}
.vignette:hover .vignette__coche {
  transform: translateX(0);
}
.vignette:hover .vignette__coche > i {
  transform: rotate(360deg);
}

.localisation {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 5px -2px #d1d1d1;
  width: 100%;
  margin: auto;
}
.localisation__icone {
  margin: 0 15px 0 0;
}
.localisation__nom {
  margin: 0 25px 0 0;
  font-weight: 600;
  font-size: 0.9em;
}

.description {
  background-color: #f6f6f6;
  padding: 40px 0 50px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.description__titre {
  width: 76%;
  margin: 0 auto;
}
.description__sous-titre {
  width: 80%;
  margin: 20px auto 30px;
  font-size: 1em;
  font-weight: lighter;
}

.fonctionnement {
  padding: 40px 0;
}
.fonctionnement__titre {
  margin: 0 0 25px 7%;
}
.fonctionnement ol {
  list-style: none;
  counter-reset: liste;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .fonctionnement ol {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
}
.fonctionnement__element {
  counter-increment: liste;
  background-color: #f6f6f6;
  margin: 0 0 25px;
  width: 86%;
  max-width: 322px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 10px 0 #dddddd;
}
.fonctionnement__element .icone {
  margin: 0 7% 0;
  color: #656565;
}
.fonctionnement__element .icone--active {
  color: #9356DC;
}
.fonctionnement__element p {
  font-weight: bold;
  font-size: 0.9em;
}
.fonctionnement__element--active {
  background-color: #F5EDFF;
}
.fonctionnement__element::before {
  content: counter(liste);
  display: inline-block;
  color: white;
  background-color: #9356DC;
  font-size: 0.8em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 10px;
  text-align: center;
  line-height: 1.6em;
  vertical-align: middle;
  margin-left: -10px;
}

.liste-restaurants {
  background-color: #f6f6f6;
  padding: 45px 0;
  position: relative;
  width: 100%;
  margin: auto;
}
.liste-restaurants h2 {
  width: 86%;
  margin: 0 auto 30px;
}
.liste-restaurants .colonne-cartes {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .liste-restaurants .colonne-cartes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@keyframes loading-debut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-fin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes lettres {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-fin 1000ms 4000ms both;
}
.loading__ustensiles {
  display: block;
  font-size: 3.4em;
  color: white;
  animation: loading-debut 500ms 500ms backwards;
}
.loading__verre {
  display: block;
  font-size: 3.4em;
  color: white;
  animation: loading-debut 500ms 500ms backwards;
}
.loading__cercle {
  width: 180px;
  height: 180px;
  margin: 0 10px;
  background-color: white;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-debut 500ms 500ms backwards;
}
.loading__lettre {
  margin: 0;
  padding: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1.7em;
  animation: lettres 600ms infinite alternate both ease-in-out;
}
.loading__lettre--1 {
  animation-delay: 75ms;
}
.loading__lettre--2 {
  animation-delay: 150ms;
}
.loading__lettre--3 {
  animation-delay: 225ms;
}
.loading__lettre--4 {
  animation-delay: 300ms;
}
.loading__lettre--5 {
  animation-delay: 375ms;
}
.loading__lettre--6 {
  animation-delay: 450ms;
}
.loading__lettre--7 {
  animation-delay: 525ms;
}
.loading__lettre--8 {
  animation-delay: 600ms;
}

/*# sourceMappingURL=style.css.map */
