.header{
    display: grid;
    grid-template-columns: 1fr 163px 1fr;
    grid-template-rows: 60px;
    grid-template-areas: "fleche logo .";
    align-items: center;
    justify-items: center;

    &__logo{
        grid-area: logo;
        width: 163px;
    }

    &__bouton-retour{
        grid-area: fleche;
        justify-self: start;
        font-size: 1.3em;
        text-decoration: none;
        color: black;
        opacity: 0.8;
    }
}