.btn{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 0.9em;
    @include bloc-ombre;

    &--degrade{
        @include degrade;
        color: white;

        &:hover{
            @include degrade (lighten($couleur-secondaire, 10), lighten($couleur-primaire, 10));
        }
    }

    &:hover{
        @include bloc-ombre($spread:5px);
    }
}