.liste-restaurants{
    background-color: $couleur-fond-menu;
    padding: 45px 0;
    position: relative;
    @include fullwidth;

    h2{
        width: 86%;
        margin: 0 auto 30px;
    }

    .colonne-cartes{
        width: 86%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

