
@keyframes loading-debut{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes loading-fin{
    0% {
        opacity: 1;
    }
    
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes lettres{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.loading{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include degrade;
    font-family: $police-logotitre;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading-fin $loading-fin-dur $loading-fin-delay both;
    
    &__ustensiles{
        font-size: 3.4em;
        color: white;
        animation: loading-debut $loading-debut-dur backwards;
    }
    
    &__verre{
        font-size: 3.4em;
        color: white;
        animation: loading-debut $loading-debut-dur backwards;
    }

    &__cercle{
        width: 180px;
        height: 180px;
        margin: 0 10px;
        background-color: white;
        border-radius: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading-debut $loading-debut-dur backwards;
    }
    
    &__lettre{
        margin: 0;
        padding: 0;
        @include degrade;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 1.7em;
        animation: lettres $lettre-dur infinite alternate both ease-in-out;
        @for $i from 1 through $num-lettres{
        &--#{$i}{
            animation-delay: $lettre-delay*$i;
        }
        }
    }
}