$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-footer: #353535;
$couleur-fond-menu: #f6f6f6;
$couleur-fond-localisation: #EAEAEA;

$police-texte: 'Roboto';
$police-logotitre: 'Shrikhand';

$breakpoints: (
    tablette-index: 600px,
    desktop: 1200px,
    tablette-menu: 800px,
);

$apparition-dur: 1000ms;
$apparitin-delay: 200ms;