$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-fonce: #353535;
$couleur-fond-clair: #f6f6f6;

$police-texte: 'Roboto';
$police-logotitre: 'Shrikhand';