$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-footer: #353535;
$couleur-fond-menu: #f6f6f6;
$couleur-fond-localisation: #EAEAEA;

$police-texte: 'Roboto';
$police-logotitre: 'Shrikhand';

$breakpoints: (
    tablette-index: 600px,
    desktop: 1200px,
    tablette-menu: 800px,
);

$width-prix: 57px;
$width-coche: 60px;
$width-prix-coche: $width-prix + $width-coche;

$apparition-dur: 1000ms;
$apparitin-delay: 200ms;

$loading-dur: 3000ms;
$loading-debut-dur: 500ms;
$loading-debut-delay: 500ms;
$loading-fin-delay: $loading-debut-dur + $loading-debut-delay + $loading-dur;
$loading-fin-dur: 1000ms;
$num-lettres: 8;
$lettre-dur: 600ms;
$lettre-delay: 75ms;